<link rel="stylesheet" href="/css/home.css">

<h1> <%= title %> Page</h1>

<form action="/create-record" method="POST">
    <label for="name">Name Of Record</label><br>
    <input type="text" name="name" id="name" placeholder="Enter Name Of Record" required><br>
    <label for="date">Date Of Entry</label><br>
    <input type="date" id="date" name="date"><br>
    <label for="info">Keypoints</label><br>
    <textarea name="info" id="info" name="info" cols="30" rows="2" placeholder="*optional"></textarea><br>
    <br><br>
    <button type="submit">Create</button>
</form>


<div id="record-list">
    <h2>Records</h2>
    <ul>
        <% for(let i of record_list){ %>
            <li>
                <h3> <%= i.name %> </h3>
                <p> <%= i.date %> </p>
                <p> <%= i.info %> </p>
                <!-- add id -->
                <!-- <p> <%= i.id %> </p> -->

                <a href="/entries/record-access/?record_id=<%=i._id%>">
                    <button type="button">Access Record</button>
                </a>
            </li>
        <% } %>
    </ul>
</div>
