<script src="https://kit.fontawesome.com/608e013bb3.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/home.css">

<h1> <%= title %> Page</h1>

<form action="/create-record" method="POST">
    <label for="name">Name Of Record</label><br>
    <input type="text" name="name" id="name" placeholder="Enter Name Of Record" required><br>
    <label for="date">Date Of Entry</label><br>
    <input type="date" id="date" name="date"><br>
    <label for="info">Keypoints</label><br>
    <textarea name="info" id="info" name="info" cols="30" rows="2" placeholder="*optional"></textarea><br>
    <br><br>
    <button type="submit">Create</button>
</form>


<div id="record-list">
    <h2>Records</h2>
    <ul>
        <% for(let i of record_list){ %>
            <li>
                <h3 style="display:inline-block; margin: 0px; margin-top:15px"> <%= i.name %> </h3> &nbsp; &nbsp;
                <a href="/entries/record-access/?record_id=<%=i._id%>" style="text-decoration: none;">
                    <button type="button">Access Record</button>
                </a> 
                &nbsp; &nbsp;&nbsp; &nbsp;
                <a href="/delete-record/?record_id=<%=i._id%>"><i class="fa-regular fa-trash-can" style="color:darkslategray;"></i></a>
                <br>
                created on: <b><%= i.date %></b> <br>
                info: <%= i.info %> 
                <!-- add id -->
                <!-- <p> <%= i.id %> </p> -->
            </li>
        <% } %>
    </ul>
</div>
